
@{
    ViewData["Title"] = "To-Do List";
}

<div class="text-center">
    <h1 class="display-3">Your Employee Portal</h1>
    <p>@DateTime.Now</p>
    <h2 class="display-4">@ViewData["Title"]</h2>
</div>